<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./../static/css/stats.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="/css/stats.css">
    <script src="/js/stats.js" defer></script>

    <title>Agent Statistics</title>
</head>
<body>
    <div id = "graph-wrapper">
        <div id = "bar-wrap" class = border>
            <div id = "bar"></div>
        </div>

        <div id = "pie-wrap" class = border>
            <div id = "pie"></div>
        </div>

        <div id = "trend-wrap" class = borderve>
            <div id = "trend"></div>
        </div>

    </div>
    
</body>
</html>