<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="/webjars/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
        />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/supervisorApp.js"></script>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Agent Overview</title>
</head>
<body>

    <!--/* NAVBAR */-->
    <nav class="navbar navbar-light bg-light flex justify-content-center">
        <h1 class="mx-auto">
            <a class="navbar-brand" href="#">
                Agent Service
                </a>
        </h1>
    </nav>
    <!--/* NAVBAR */-->


    <!--/* CONTENT */-->
    <div class="container-fluid px-5 my-2">
        <div class="row">
            <!--/* GRID RENDER */-->
            <div class="col-9 col-lg-10">
                <i id="agent-1" class="bi bi-dot" style="font-size: 30px;"></i>
            </div>
            <!--/* GRID RENDER */-->

            <!--/* STATES */-->
            <div class="col-3 col-lg-2">
                <h3>State Color</h3>
                <div class="state d-inline-flex d-md-flex ">
                    <i class="bi bi-dot text-success" style="font-size: 20px;"></i> Available
                </div>
                <div class="state d-inline-flex d-md-flex">
                    <i class="bi bi-dot text-danger" style="font-size: 20px;"></i> On Voice Call
                </div>
                <div class="state d-inline-flex d-md-flex">
                    <i class="bi bi-dot text-warning" style="font-size: 20px;"></i> After call work
                </div>
                <div class="state d-inline-flex d-md-flex">
                    <i class="bi bi-dot text-dark" style="font-size: 20px;"></i> Logged out
                </div>
                <div class="state d-inline-flex d-md-flex">
                    <i class="bi bi-dot text-info" style="font-size: 20px;"></i> On Preview Task
                </div>
            </div>
            <!--/* STATES */-->
        </div>

        <!--/* GRID RENDER */-->
        <!-- <div id="console" class="col-md-1">
                <i id="agent-1" class="bi bi-dot" style="font-size: 30px;"></i>
        </div> -->
        <!--/* GRID RENDER */-->


    </div>
    <!--/* CONTENT */-->
    
</body>
</html>