@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --primary-dark: #292929;
    --secondary-dark: #2E2E2E;
    --primary-dark-text: #828282;
    --agent-dark-unfilled: #4B4B4B;; /* TODO: update color */
    --secondary-color: #bb86fc;
    --agent-dark: #5E5E5E;
    --team-blue-primary: #A3E0FF;


    /* agent colors */
    --agent-available-color: #008276;
    --agent-available-bright-color: #25ADA0;
    --agent-busy-color: #D23645;
    --agent-busy-bright-color: #EB4F58;
    --agent-preview-color: #1A75C0;
    --agent-preview-bright-color: #3E89D6;
    --agent-after-color: #FFD73F;
    --agent-loggedout-color: #5E5E5E;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--primary-dark);
    min-height: 100vh;
}

.my-container {
    transition: 0.4s;
    max-height: 90vh;
    min-height: 80vh;
    /* overflow: auto; */
}

.container-fluid {
    max-height: 100%;
}

/* Navigation Bar */
.navbar {
    /* background: var(--secondary-dark); */
}

.nav-title {
    color: var(--primary-dark-text);
    font-family: "Nunito Sans", sans-serif;;
    font-style: normal;
    font-weight: 400;
}

.allEntities {
    color: var(--agent-dark);
}
.available {
    color: var(--agent-available-bright-color) !important;
}
.busy {
    color: var(--agent-busy-bright-color) !important;
}
.logged-out, .loggedout {
    color: var(--agent-loggedout-color) !important;
}
.preview {
    color: var(--agent-preview-bright-color) !important;
}
.after, .after-work, .afterwork {
    color: var(--agent-after-color) !important;
}
.agent-dot {
    font-size: .6rem
}

.entityInfo-item {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 200;
}
.entityInfo-item p  b {
    font-weight: 700;
}

a {
    text-decoration: none;
    /* color: var(--secondary-color); */
    color: rgb(163, 224, 255);
}
a:hover {
    color: rgba(163, 224, 255, .8);
}


/* TOOLTIP */
.tooltipType {
    position: relative;
    display: inline-block
}

.tooltipType .tooltiptext {
    visibility: hidden;
    background-color: #222222;
    color: var(--secondary-color);
    border-radius: 3px;
    padding: 3px 10px 6px;
    position: absolute;
    top: -2rem;
    right: -2rem;
    min-width: 5rem;
    text-align: center;
}

.agent-dot {
    /* filter: drop-shadow(0rem 0rem .3rem #A3A3A3); */
    margin: 0rem .05rem !important;
    transition: 0.5s;
    font-size: 0.6rem;
    /* border-radius: 50%; */
}
/* TODO: Fix below hover effects */
i .agent-dot:hover, {
    background: #FFF !important;
    box-shadow: 0 0 0 .25rem #333,
                0 0 0 .375rem #A3A3A3 !important;
}
.tooltipType:hover .tooltiptext {
    visibility: visible;
}

/* #entityInfo {
    position: relative;
    top: -1rem;
    transition: 0.4s;
    display: none !important;
}

#entityInfo:hover, #entityInfo:focus, #entityInfo:active  {
    display: flex !important;
} */


/* MISC NEUOMORPHISM */
button{
	font-size: 16px;
	line-height: 16px;
	padding: 16px 43px;
	border: 0;
	outline: 0;
	font-weight: 900;
	cursor: pointer;
	border-radius: 34px;
	transition: 0.25s;
}

button.neu-light{
	background-color: rgb(247, 239, 244);
	filter: drop-shadow(3.4px 3.4px 3.4px rgb(183, 177, 181)) drop-shadow(-3.4px -3.4px 3.4px white);
	-webkit-filter: drop-shadow(3.4px 3.4px 3.4px rgb(183, 177, 181)) drop-shadow(-3.4px -3.4px 3.4px white);
	box-shadow: inset 4.3px 4.3px 7px #fff;
}