body
{
    background-color: #1f1e1e;
    font-size: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#graph-wrapper
{
    background-color: #F4EDED;
    width: 65vw;
    height: 85vh;
    position: relative;
    top: 2rem;
    left: 17%;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0rem 1rem 2rem 0.25rem rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        " bars bars pies pies "
        " trends trends trends trends ";
}

.border
{
    margin-top: 4%;
    background-color: #363333;
    border-radius: 1rem;
    position: relative;
    left: 5%;
    width: 29.25vw;
    height: 40vh;
}

.borderve
{
    background-color: #363333;
    width: 61.5vw;
    height: 35vh;
    position: relative;
    left: 1.7vw;
    border-radius: 1rem;
}

#bar-wrap
{
    grid-area: bars;
}

#pie-wrap
{
    grid-area: pies;
}

#trend-wrap
{
    grid-area: trends;
}